Q1. How do you comment code in Python? What are the different types of comments?

**Answer**

There are two types of comments in Python: single-line comments and multi-line comments.

->Single-line comments are preceded by a hash symbol (#). Everything on the line after the hash symbol is ignored by the Python interpreter.

->Multi-line comments are enclosed in triple quotes (''' or """). Everything between the triple quotes is ignored by the Python interpreter.

In [2]:
# this is single line comment
"""
    this is multiline
    comment
"""

print("comments examples")

comments examples

Q2. What are variables in Python? How do you declare and assign values to variables?

**Answer** :

In Python, a variable is a name that is used to refer to a value. Variables are used to store data and to refer to that data throughout your program.

To declare a variable, you use the syntax

### var_name = value

In [3]:
# example
name = 'sohith pamu'
print(name)

sohith pamu

Q3. How do you convert one data type to another in Python?

**Answer :**
There are a few ways to convert one data type to another in Python. One way is to use the built-in functions. For example, to convert a string to an integer, you can use the int() function. The int() function takes a string as input and returns an integer

Here is a table of some of the built-in functions that can be used to convert data types:

Data type  --	Built-in function

String     : 	str()

Integer    :	int()

Float      :	float()

Boolean	   :   bool()

List       :  	list()

Tuple	   :   tuple()

Set	       :   set()

Dictionary :   dict()

In [4]:
# example
# Convert the string "123.45" to a float.
temp = float("123.45")
print(temp, type(temp))
# Convert the float 123.45 to a int.
temp = int(temp)
print(temp, type(temp))

123.45 <class 'float'>
123 <class 'int'>

Q4. How do you write and execute a Python script from the command line?

**Answer:**
To write and execute a Python script from the command line, you will need to:

1)Create a new file with a .py extension.

2)Write your Python code in the file.

3)Save the file.

4)Open a command prompt or terminal window.

5)Navigate to the directory where you saved the file.

6)Run the following command:

    Code snippet:
    >python filename.py

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [5]:
# answer
my_list = [1, 2, 3, 4, 5]

# Slice the list from index 1 to index 3.
sub_list = my_list[1:3]

print(sub_list)

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

**Answer :**

A complex number is a number of the form a + bi, where a and b are real numbers, and i is an imaginary unit satisfying i^2 = -1. For example, 2 + 3i is a complex number.

In Python, complex numbers are represented using the complex() function. The complex() function takes two arguments, the real part and the imaginary part.

In [8]:
# example 
cmp1 = complex(2,5)
cmp2 = 2-5j
print(cmp1)
print(cmp2)

(2+5j)
(2-5j)

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [9]:
# answer
age = 25
print(age)

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

**Answer:**

The price variable is now assigned the value 9.99. The data type of the price variable is float. This is because the value 9.99 is a floating-point number. Floating-point numbers are numbers that have a decimal point.

In [11]:
price = 9.99
print(price , type(price))

9.99 <class 'float'>

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [14]:
# answer
name = "Pamu sohith"
print(name)
repr(name)

Pamu sohith

"'Pamu sohith'"

Q10. Given the string "Hello, World!", extract the substring "World".

In [23]:
string = "Hello, World!"

# Extract the substring from index 6 to index 10.
substring = string[7:-1]

print(substring)

World

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [24]:
# answer
is_student = True
if is_student:
    print("I am a student.")
else:
    print("I am not a student.")

I am a student.