Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
# answer
data = ("This is a string", [1, 2, 3], 3.14, ("a", "b", "c"))

# Print the type of each element in `data`
print(type(data[0]))
print(type(data[1]))
print(type(data[2]))
print(type(data[3]))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

**answer**

i)   -> <class 'str'>

ii)  -> <class 'str'>

iii) -> <class 'list'>

iv)  -> <class 'float'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

answers:
i)  /  : This operator is used to divide the left operand by the right operand

ii) %  : This operator is used to get the remainder of the division of the left operand by the right operand.

iii)// : This operator is used to get the floor of the division of the left operand by the right operand

iv)**  : This operator is used to raise the left operand to the power of the right operand.

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [1]:
# answer

my_list = [1, "hello", 3.14, True, False, "world", [1, 2, 3], {"a": 1, "b": 2}, (1, 2, 3), None]

for ele in my_list:
    print(ele , type(ele))

1 <class 'int'>
hello <class 'str'>
3.14 <class 'float'>
True <class 'bool'>
False <class 'bool'>
world <class 'str'>
[1, 2, 3] <class 'list'>
{'a': 1, 'b': 2} <class 'dict'>
(1, 2, 3) <class 'tuple'>
None <class 'NoneType'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [10]:
# answer 
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
count = 0
temp = a
while temp % b == 0:
    temp //= b
    count += 1

if count > 0:
    print(f"{a} is divisible by {b} {count} times.")
else:
    print(f"{a} is not divisible by {b}.")

Enter the first number:  12
Enter the second number:  2

12 is divisible by 2 2 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [5]:
# answer

list_of_numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

for number in list_of_numbers:
    if number % 3 == 0:
        print("The number is divisible by 3")
    else:
        print("The number is not divisible by 3")

The number is not divisible by 3
The number is not divisible by 3
The number is divisible by 3
The number is not divisible by 3
The number is not divisible by 3
The number is divisible by 3
The number is not divisible by 3
The number is not divisible by 3
The number is divisible by 3
The number is not divisible by 3
The number is not divisible by 3
The number is divisible by 3
The number is not divisible by 3
The number is not divisible by 3
The number is divisible by 3
The number is not divisible by 3
The number is not divisible by 3
The number is divisible by 3
The number is not divisible by 3
The number is not divisible by 3
The number is divisible by 3
The number is not divisible by 3
The number is not divisible by 3
The number is divisible by 3
The number is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

### answer
In Python, data types can be classified as mutable and immutable. Mutable data types can be changed after they are created, while immutable data types cannot be changed.

Some examples of mutable data types are:

Lists
Dictionaries
Sets
Some examples of immutable data types are:

Strings
Tuples
Integers
Floats
Booleans

In [6]:
# mutable

my_list = [1, 2, 3]

my_list[0] = 4

print(my_list)

[4, 2, 3]

In [7]:
# immutable
my_string = "Hello, world!"
my_string[0] = "H"

TypeError: 'str' object does not support item assignment